	<!DOCTYPE html>
	<html>
	<head>
		<title>unitpatch.es</title>
		<style>
		body {
			font-family:"Gill Sans", "Gill Sans MT", Sans-Serif;
		}
		.container {
			width:400px;
			margin:120px auto 0px auto;
		}
		h1 {
			width:400px;
			margin-bottom:12px;
			text-align:center;
			color:#4bdf33;
			font-size:40px;
			padding-bottom:8px;
			border-bottom:2px solid #4bdf33;
		}
		form {
			display:block;
			width:400px;
		}
		input {
			display:block;
			float:left;
			padding:8px;
			font-size:16px;
		}
		#number {
			width:280px;
			margin-right:12px;
		}
		#submit {
			width:88px;
			border:none;
			background:#4bdf33;
			padding:10px;
			color: #fff;
		}
		#submit:hover {
			background:#78df66;
		}
		.clear {
			height:1px;
			width:400px;
			clear:both;
		}
		.result {
			clear:both;
			width:400px;
			margin-top:12px;
			border-top:2px solid #4bdf33;
			padding-top:12px;
			text-align:center;
		}
		.result a {
			font-size:24px;
			display:block;
			margin-top:8px;
			color:#2ddf11;
			background:#d2ffcc;
			padding:8px;
		}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>unitpatch.es</h1>
			<form method="post">
				<input type="text" value="<%= h(params[:number]) %>" name="number" id="number" placeholder="unit number (ex. 249)" />
				<input type="submit" value="create" id="submit" />
			</form>
			<div class="clear"></div>
			<% if @number %>
			<div class="result">
				Your unit number URL is:
				<a href="http://unitpatch.es/<%= @number %>.png">http://unitpatch.es/<%= @number %>.png</a>
				<br /><br />
				<img src="/<%= @number %>">
			</div>
			<% end %>
		</div>
		<a href="https://github.com/crjones/unitpatches"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
	</body>
